// 🎨 Colores y tipografía
$color-principal: rgb(192, 216, 238);
$color-acento: rgb(26, 188, 156);
$color-claro: rgb(255, 255, 255);
$color-azul: rgb(52, 152, 219);
$color-fondo: rgb(249, 249, 249);
$color-sombra: rgba(196, 231, 213, 0.326);

$font-base: 16px;
$font-family: 'Segoe UI', 'Inter', 'Libertinus Math', sans-serif;
